.adminNavigation {
  display: inline-block;
  min-width: 253px;
  padding-top: 50px;
}
.AdminNavigationButton {
  height: 62px;
  width: 254px;
  display: flex;
  align-items: center;
  padding: 0px 50px;
  cursor: pointer;
  & span {
    &:first-child {
      font-size: 20px;
      color: #9ca3af;
    }
    &:nth-child(2) {
      color: #9ca3af;
      font-weight: 400;
      margin-left: 15px;
    }
  }
}
.AdminNavigationButton--isactive {
  background: #f7f8fa;
  border-right: 3px solid $primary-colorgreen;
  & span {
    &:nth-child(1) {
      color: $primary-colorgreen;
    }
    &:nth-child(2) {
      color: $primary-colorgreen;
      text-shadow: -0.04ex 0 $primary-colorgreen, 0.04ex 0 $primary-colorgreen;
    }
  }
}
