.UserLoginPage {
  padding: 60px 50px;
  position: relative;
  height: 100vh;
  @media (max-width: 900px) {
    padding: 30px;
  }
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: $primary-colorgreen;
    right: 0;
    top: 0;
    clip-path: circle(50% at 92% 50%);
  }
  &_middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &-imgcontainer {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }
    &-form {
      display: flex;
      justify-content: space-between;
      background: white;
      position: relative;
      border-radius: 11px;
      min-width: 800px;
      box-shadow: 0px 24px 32px 0px #32324714;
      @media (max-width: 900px) {
        min-width: 500px;
      }
      & .userSignUpPage_middle-form_socials {
        margin: 0px;
      }
      & h2 {
        font-size: 36px;
        color: #111827;
      }
    }
    & button {
      width: 100%;
      border-radius: 25px !important;
      & span {
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
  &_backButton {
    font-size: 16px;
    text-transform: capitalize;
    color: $neutral-black;
    font-weight: 500;
    & span {
      font-size: 20px;
      margin-right: 10px;
      font-weight: 700;
    }
  }
}

.UserLoginPage_middle-form--1 {
  width: 100%;
  padding: 30px 40px;
  padding-right: 0px;
  @media (max-width: 900px) {
    padding: 30px 40px;
  }
  & .row {
    margin: 20px 0px;
    & > * {
      padding: 0px !important;
    }
  }
  & p {
    color: $neutral-blackthree;
    & a {
      color: blue;
      font-weight: 500;
    }
  }
  & h6 {
    text-align: center;
    width: 70%;
    margin: 20px 0px;
    & a {
      color: $primary-colorred;
    }
  }
}
.UserLoginPage_middle-form--2 {
  margin-top: auto;
  margin-bottom: 130px;
  @media (max-width: 900px) {
    display: none;
  }
}
.UserLoginPage_middle-form-text2 {
  margin: 20px 0px;
}
.UserLoginPage_middle-form--1-link {
  position: absolute;
  top: 0;
  right: 0;
  margin: 30px 50px;
  & a {
    color: $primary-colorblue;
  }
}
.userSignUpPageAuth_middle-form--2 {
  @media (max-width: 900px) {
    display: none;
  }
}
