// Primary Colors of Bhariya ==>>

$primary-colorgreen: #28bb46;
$primary-coloryellow: #f9be00;
$primary-colorblue: #02a1fc;
$primary-colorgrey: #f7f8fa;
$primary-colordarkgrey: #f7f8fa;
$primary-colorred: #e94235;

// Neutral colors of bhariya ==>

$neutral-black: #2e2c2c;
$neutral-blacktwo: #585757;
$neutral-blackthree: #7d7b7b;
$neutral-blackfour: #b7b5b5;
$neutral-grey: #9ca3af;

// Accent Colors ==>

$accent-green: #9ca3af;
$accent-orange: #fcf3d7;
$accent-blue: #daf5f2;

//basic settings

$transition: all 0.3s ease-in-out;
$box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.141);
$primary-padding: 10px 40px;
